*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container{
    max-width: 1140px;
    margin: 0 auto
}


body{
    font-family: "Roboto", sans-serif;
}


.title{
    font-weight: 900;
    text-align: center;
    text-transform: uppercase;
}

.title__colored{
    color: #F9BF3B;
    font-size: 41px;
    line-height: 41px;
    margin-bottom: 12px;
}

.title__big{
    font-size: 80px;
    line-height: 80px;
    color: #FFFF;
    margin-bottom: 12px;
}


.promo{
    background: url("../icons/MainBig.jpg")center center/ cover no-repeat;
    padding-bottom: 53px;
    padding-top: 22px;
}

.promo__text{
    font-size: 21px;
    font-weight: 500;
    line-height: 28px;
    text-align: center;
    color: #FFFF;
    margin-bottom: 50px;
    margin-top: 20px

}

.promo__text span{
    color: #F9BF3B;
    text-transform: uppercase;
}


.auth{
    background: linear-gradient(0deg, #FF4D00 0%, #FEB05D 100%);
    cursor: pointer;
    outline: none;
    border: none;
    width: 315px;
    height: 72px;
    border-radius: 4px 0px 0px 0px;
    margin: 0 auto;
    display: block;
    color: #FFFF;
    font-size: 21px;
    text-transform: uppercase;
}

.promo__more-text{
    font-size: 15px;
    font-weight: 500;
    line-height: 17.58px;
    text-align: center;
    color: #FFFF;
    text-transform: uppercase;
    margin-top: 75px;
}

.promo__more-img{
    margin: 10px auto 0 auto;
    display: block;
    cursor: pointer;
}

.logo__text{
    color: #fff;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 13px;
    text-transform: uppercase;
}

.logo__img{
    display: block;
    margin: 0 auto
}

.intensive{
    padding-top: 80px;
    padding-bottom: 80px;
}

.intensive__item{
    width: 360px;
}

.intensive__wrapper{
    display: flex;
    justify-content: space-between;
}

.divider{
    width: 220px;
    height: 7px;
    background-color: #F9BF3B;
    margin: 0 auto 0;
}

.intensive__title{
    color: #252525;
    font-size: 30px;
    font-weight: 500;
    line-height: 35px;
    text-align: center;    
    margin-bottom: 14px;

}

.intensive__subtitle{
    font-size: 23px;
    font-weight: 500;
    line-height: 27px;
    text-align: center;
    color: #4A4A4A;
    margin-top: 15px;
    margin-bottom: 42px;
}


.intensive__text{

    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
    text-align: center;
    margin-top: 15px;
    color: #4A4A4A;
}

.intensive__img{
    width: 100%;
}


.info{
    background-color: #0f0b0b;
    padding-bottom: 140px;
    padding-top: 100px;
    position: relative;
}


.info__title{
    text-align: right;
    margin-bottom: 16px;
    color: #F9BF3B;
    ;
}

.info__text{
    text-align: right;
    padding-left: 390px;
    font-size: 16px;
    font-weight: 300;
    line-height: 19px;
    margin-bottom: 15px;
    color: #FFFFFF;
    z-index: 2;
    position: relative;
}

.info__text.medium{
    font-weight: 500;
}


.info__img{
    position: absolute;
    z-index: 1;
    bottom: 20px;
}



.training__expl{
    font-size: 30px;
    font-weight: 400;
    line-height: 35px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;

}

.training__items{
    display: flex;
    justify-content: space-between
    ;
}


.training__divider{
    width: 220px;
    height: 7px;
    background-color: #F9BF3B;
    margin: 0 auto 0;
    margin-bottom: 40px;
}

.training__wrapper{
    display: flex;
    justify-content: space-between;
}


.training{
    background: url("../icons/Bg.png")center center/ cover no-repeat;
    color: #EFEFEF;
    font-size: 30px;
    font-weight: 400;
    line-height: 35px;
    text-align: center;
    padding-top: 78px;
    padding-bottom: 121px;
}

/* 18 */


.present__text{
    font-size: 30px;
    font-weight: 500;
    line-height: 45px;
    text-align: center;
    margin-bottom: 60px;
}


.present__img{
    width: 155px;
    margin: 0 auto 0;
    align-items: center;
    display: flex;
    margin-bottom: 80px;
}

.present{
    padding-bottom: 80px;
    padding-top: 80px;
}